@import url('https://fonts.googleapis.com/css2?family=Kings&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--Urbanist-font);
    scroll-behavior: smooth;
}

:root {
    --Poppins-font: "Poppins", sans-serif;
    --Urbanist-font: "Urbanist", sans-serif;
    --Kings-font: "Kings", cursive;

    --white: #FFF;
    --text-color: #2B2A30;
    --primary-color: #4400E7;
    --primary-dark: #281963;
    --primary-light: #D3DFE9;
    --prim-grident: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%);
    --pg-color: #363539;
    --btn-light: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%);
    --btn-dark: #212529;

    --top-color: #f7f7f7;
    --border-color: #4f4e5426;
    --icon-prim-color: #3D6AD6;
    --icon-sec-color: #E60023;
    --footer-color: #183153;
    --social-color: #434cda;
    --secondary-color: #54595f;

    --transition-regular:.3s;
    --transition-slow:.6s;
}

body{
    overflow-x: hidden !important;
}

.custom-nav{
    padding: 0 12%;
    height: 80px;
    border: 1px solid rgba(208, 201, 201, 0.5);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;
}
.white-theme a,
.white-theme .search-icon {
    color: white !important;
}  
.black-theme {
    background-color: white;
}  
.black-theme a,
.black-theme .logo span,
.black-theme .search-icon {
    color: black !important;
}
.logo{
    font-family: var(--Kings-font);
    font-size: 2.5rem;
    color: var(--white) ;
}
.logo span{
    font-family: var(--Kings-font);
    color: var(--white);
}
.nav-item a{
    font-size: 1.2rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--Urbanist-font);
    position: relative;
    margin-left: 20px;
}
.nav-item a:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition:var(--transition-regular);
}
.nav-item a:hover:after{
    width: 100%;
}
.search-icon{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.navbar-toggler{
    color: var(--white) !important;
    background-color: var(--white) !important;
}

.modal{
    background-color: #00000065;
}
.modal-input input{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Hero Header */

.hero{
    height: 100vh;
    position: relative;
    z-index: 5;
    padding-top: 100px;
}
.hero:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/Hero-slider-2.webp);
    animation: Anim-zoom 1.5s forwards linear;
}
.hero2:before{
    background-image: url(assets/Hero-slider-2.webp);
}
.hero3:before{
    background-image: url(assets/Hero-slider-3.webp);
}
.hero:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-content{
    z-index: 5;
    position: relative;
}
.hero-content:after{
    content: 'Fly';
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 7rem;
    font-weight: 600;
    color: #9b9a9a;
    opacity: 0;
    animation: Anim-RL var(--transition-regular) 1.3s forwards linear;
}
.hero-content:before{
    content: 'To';
    position: absolute;
    top: 15%;
    left: 0%;
    font-size: 7rem;
    font-weight: 600;
    color: #9b9a9a;
    opacity: 0;
    animation: Anim-LR var(--transition-regular) 1.3s forwards linear;
}
.hero h2{
    font-size: 3rem;
    opacity: 0;
    animation: Anim-top var(--transition-regular) .9s forwards linear;
}
.hero h1{
    font-family: var(--Urbanist-font);
    font-weight: 700;
    font-size: 8rem;
    line-height: 8rem;
    opacity: 0;
    animation: Anim-height var(--transition-slow) .3s forwards linear;
}
.hero-btn{
    width: 200px !important;
    height: 60px;
    border: 1px solid rgba(208, 201, 201, 0.5);
    border-radius: 50px;
    background-color: rgba(208, 201, 201, 0.2);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    animation: Anim-bottom var(--transition-regular) .9s forwards linear;
}
.hero-btn:hover{
    border: 1px solid rgba(208, 201, 201, 0.5);
    background-color: rgba(208, 201, 201, 0.2);
}
.swiper-btn{
    font-size: 7rem;
    position: absolute;
    top: 45%;
    left: 10%;
    color: #9b9a9a;
    z-index: 2;
    transition: var(--transition-regular);
}
.swiper-next{
    left: 85%;
}
.swiper-btn:hover{
    color: var(--white);
    cursor: pointer;
}
/* Hero Animations */

@keyframes Anim-top {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes Anim-bottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes Anim-height {
    0%{
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    100%{
        height: 120px;
        opacity: 1;
        overflow: hidden;
    }
}
@keyframes Anim-zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
@keyframes Anim-LR {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes Anim-RL {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Hero MQ Section */

@media (max-width:1399px) {
    .hero-content:after,
    .hero-content:before{
        font-size: 5rem;
        top: 23%;
    }
    .hero-content:before{
        top: 25%;
    }
    .swiper-next{
        left: 83%;
    }
}
@media (max-width:1199px) {
    .hero-content:after,
    .hero-content:before{
        font-size: 4.5rem;
        top: 28%;
    }
    .hero-content:before{
        top: 28%;
    }
}
@media (max-width:991px) {
    .navbar-nav{
        padding: 10px;
        border-radius: 10px;
        background-color: var(--white);
        align-items: flex-start !important;
        margin-top: 10px;
    }
    .navbar-nav li a{
        color: #000;
    }
    .navbar-nav li a:after{
        background-color: #000;
    }
    .hero-content:after,
    .hero-content:before{
        display: none;
    }
    .swiper-btn{
        left: 5%;
    }
    .swiper-next{
        left: 85%;
    }
}
@media (max-width:767px) {
    .hero h2{
        font-size: 2rem;
    }
    .hero h1{
        font-size: 5rem;
        line-height: 5rem;
    }
    .hero-btn{
        margin: 0 !important;
    }
}
@media (max-width:575px) {
    .swiper-btn{
        font-size: 5rem;
        left: 0%;
    }
    .swiper-next{
        left: 85%;
    }
    .search-icon{
        margin-right: 25px !important;
    }
}

/* Destinations Section */

.section-title{
    flex-direction: column;
    align-items: center;
}
.section-title h3 {
    font-family: var(--JustAnotherHand-font) !important;
    font-size: 2rem;
}
.section-title h2 {
    font-family: var(--Urbanist-font);
    font-size: 3rem;
    font-weight: 800;
}
.section-title span {
    font-family: var(--Kings-font) !important;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.section-title span img{
    width: 30px;
    height: 30px;
}
.section-title p{
    font-size: 1.2rem;
    text-align: center;
    width: 30%;
}

.dest-card{
    height: 500px;
}
.dest-img{
     height: 400px;
}
.dest-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: var(--transition-slow);
}
.dest-card:hover .dest-img img{
    transform: scale(1.1);
    filter: grayscale(100%);
}
.dest-price{
    padding: 10px;
    background-image: var(--prim-grident);
    color: var(--white);
    border-radius: 10px;
    top: 5% !important;
    right: 2% !important;
    font-weight: 600;
    font-family: var(--Urbanist-font);
}
.dest-content{
    width: 70%;
    top: 50% !important;
    left: -3% !important;
    background-color: #F2F7FB;
    z-index: 5;
    transition: var(--transition-slow);
}
.dest-card:hover .dest-content{
    transform: translateY(-15px);
}
.dest-arrow {
    top: -5%;
    right: -3%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: var(--prim-grident);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transform: rotate(-50deg) scale(0);
    font-size: 1.5rem;
    transition: var(--transition-slow);
}
.dest-card:hover .dest-arrow{
    transform:rotate(-50deg) scale(1);
}
.dest-content h2{
    font-weight: 600;
    font-size: 1.5rem;
    transition: var(--transition-regular);
}
.dest-content h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.dest-content p{
    font-size: 1.1rem;
    width: 90%;
}
.dest-day i{
    color: var(--primary-color);
}
.dest-day span{
    font-size: 1.2rem;
}

/* Destinations MQ Section */

@media screen and (max-width:1199px) {
    .dest-content{
        width: 90%;
    }
}
@media screen and (max-width:991px) {
    .section-title h2 {
        font-size: 3rem;
    }
    .section-title h3 {
        font-size: 2rem;
    }
    .section-title p{
        width: 60%;
    }
}
@media screen and (max-width:767px) {
    .dest-content{
        left: 5% !important;
    }
}

/* About Section */

.about{
    background-color: #FAF5EF;
    background-image: url(assets/about-bg.webp);
}

.about-title p{
    width: 100%;
    text-align: start;
}
.about-col-img img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.about-col-img i{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-image: var(--prim-grident);
    color: var(--white);
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-cols h4{
    font-size: 1.4rem;
}
.custom-btn1{
    background-image: var(--prim-grident);
    width: 220px;
    height: 60px;
    border-radius: 50px;
    color: var(--white) !important;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--transition-regular);
    z-index: 1;
}
.custom-btn1:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-image: url(assets/btn-arrow.svg);
    opacity: 0;
    transition: var(--transition-regular);
}
.custom-btn1:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    border-radius: 50px;
    z-index: -1;
    transition: var(--transition-slow);
}
.custom-btn1:hover:before{
    width: 100%;
    left: 0;
    right: auto;
}
.custom-btn1 img{
    transition: var(--transition-regular);
}
.custom-btn1:hover img{
    transform: translateX(50px);
    opacity: 0;
}
.custom-btn1:hover{
    padding-left: 50px;
}
.custom-btn1:hover:after{
    opacity: 1;
    left: 20%;
}
.btn-box{
    width: 220px;
    border-radius: 50px;
    overflow: hidden;
}
.about-col-box-img img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 -10px;
    border: 2px solid var(--white);
}
.about-img{
    position: relative;    
    z-index: 1;
}
.about-img:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #EEDFD2;
    border-top-left-radius: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -1;
}
.abElement-1,
.abElement-2,
.abElement-3{
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 250px;
}
.abElement-2{
    top: 70%;
    left: 0% ;
}
.abElement-3{
    top: 45%;
    left: 5%;
    width: 150px;
}

/* About MQ Section */

@media (max-width:1399px) {
    .about-cols h4{
        font-size: 1.2rem;
    }   
    .about-col-box-img img{
        width: 45px;
        height: 45px;
    }
}
@media (max-width:1199px) {
    .about-title h2{
        font-size: 2.5rem;
    }
    .about-cols h4{
        font-size: 1rem;
    }
    .about-bottom p{
        display: none;
    }
    .about-col-box-img img{
        width: 60px;
        height: 60px;
    }
}
@media (max-width:991px) {
    .about-img{
        margin-top: 50px;
    }
    .about-bottom p{
        display: block;
    }
}
@media (max-width:767px) {
    .about-bottom p{
        display: none;
    }
}
@media (max-width:575px) {
    .abElement-1{
        width: 170px;
    }
    .abElement-3{
        left: 12%;
    }
    .about-img:after{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}


/* Discover Section  */

.discover-card{
    width: 400px;
    height: 550px;
    overflow: hidden;
    border-radius: 200px;
}
.discover-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(10deg) scale(1.2);
    transition: var(--transition-slow);
}
.discover-card:hover img{
    transform: rotate(0deg) scale(1.2);
}
.discover-card-content{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -0%) scale(0);
    background-color: #2125299a;
    backdrop-filter: blur(5px);
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 100%;
    color: var(--white);
    opacity: 0;
    transition: var(--transition-slow);
    cursor: pointer;
}
.discover-card:hover .discover-card-content{
    transform: translate(-50% , -50%) scale(1);
    opacity: 1;
}
.discover-card-content span{
    padding: 10px 15px;
    background-image: var(--prim-grident);
    border-radius: 50px;
}
.discover-card-content h2{
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
}

/* Discover MQ Section */

@media (max-width:1399px) {
    .discover-card{
        width: 310px;
        height: 450px;
    }
    .discover-card-content h2{
        font-size: 1.5rem;
    }
}
@media (max-width:1199px) {
    .discover-card {
        width: 265px;
        height: 400px;
    }
    .discover-card-content h2{
        font-size: 1.3rem;
    }
}
@media (max-width: 991px) {
    .discover-card {
        width: 350px;
        height: 450px;
    }
    .discover-card-content h2{
        font-size: 1.7rem;
    }
}
@media (max-width: 767px) {
    .discover-card {
        width: 450px;
        height: 550px;
        border-radius: 10px;
    }
    .discover-card img{
        transform: rotate(0deg) scale(1.3);
    }
    .discover-card-content h2{
        font-size: 1.7rem;
    }
    .discover-card-content{
        border-radius: 10px;
    }
}

/* Working Steps */

.working{
    background-image: url(assets/Features-bg.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.FeatureImg{
    bottom: 0;
    right: 0;
}
.FeatureImg2{
    top: 0;
    left: 0;
    width: 300px;
}
.step-card{
    width: 350px;
    cursor: pointer;
    z-index: 5;
    background-color: var(--white);
}
.step-card .step-img{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6EFF2;
    transition: var(--transition-regular) ease-in-out;
    border-radius:20px !important;
}
.step-img2{
    background-color: #F2E5FF !important;
}
.step-img3{
    background-color: #FFF6E6 !important;
}
.step-card:hover .step-img{
    transform: scale(-1) rotate(180deg) !important;
}
.step-content h2{
    font-size: 1.7rem;
    font-weight: 600;
}
.step-content p{
    font-size: 1.1rem;
}

/* Working Steps MQ Section */

@media (max-width:1399px) {
    .FeatureImg1{
        width: 500px;
    }
    .FeatureImg2{
        width: 250px;
        top: 35%;
    }
    .step-card{
        width: 300px;
    }
    .step-content h2{
        font-size: 1.5rem;
    }
}
@media (max-width:767px) {
    .step-card{
        width: 100%;
    }
}
@media (max-width:575px) {
    .FeatureImg{
        display: none;
    }
}

/* Offers Section */

.offer-img{
    left: -10%;
}
.offer-img2{
    right: 0 !important; 
}
.offers{
    background-color: #F3F8FC;
    height: 670px;
}
.offer-title span{
    font-size: 1.5rem;
}
.offer-title h2{
    font-size: 5rem;
}
.offer-title p{
    width: 50%;
    font-size: 1.2rem;
}
.offer-btn,
.offer-btn button{
    height: 70px;
}
.offer-text{
    top: 150%;
    left: 40%;
    transform: translate(-50% , -50%);
}
.offer-text h1{
    font-size: 20rem;
    font-family: var(--Poppins-font);
    font-weight: 600;
    color: var(--primary-color);
}
.offer-text .offer-span{
    font-size: 10rem;
    line-height: 10rem;
    color: #000;
}
.offer-text .offer-span span{
    font-size: 6rem;
    line-height: 6rem;
    font-family: var(--Poppins-font) !important;
    font-weight: 600;
}

/* Offer MQ Section */

@media (max-width:1399px) {
    .offer-img {
        left: -23%;
    }
    .offer-img2 {
        right: -21% !important;
    }
}
@media (max-width:1199px) {
    .offer-img {
        left: -27%;
    }
    .offer-img2 {
        right: -35% !important;
    }
}
@media (max-width:991px) {
    .offer-img {
        left: -35%;
    }
    .offer-img2 {
        right: -50% !important;
    }
    .offer-title h2{
        font-size: 4rem;
    }
    .offer-text h1{
        font-size: 15rem;
    }
    .offer-text .offer-span{
        font-size: 8rem;
        line-height: 8rem;
    }
    .offer-text .offer-span span{
        font-size: 5rem;
        line-height: 5rem;
    }
}
@media (max-width:767px) {
    .offer-img ,.offer-img2{
        display: none;
    }
    .offer-title p{
        width: 70%;
    }
}

/* Testimonial Section */

.test-bg-img{
    top: 0;
    right: 0;
    opacity: 0.3;
}
.test-bg-img2{
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.test-img{
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: fade-right var(--transition-slow) .6s forwards linear;
}
.test-img:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -0%);
    width: 90%;
    height: 80%;
    background-color: #8FCED6;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    animation: fade-width var(--transition-slow) 1.3s forwards linear;
}
.test-img:before{
    content: '';
    position: absolute;
    bottom: -5%;
    left: 45%;
    transform: translate(-50% , -0%);
    width: 90%;
    height: 80%;
    background-color: #E9F5F7;
    border-radius: 20px !important;
    z-index: -1;
    opacity: 0;
    animation: fade-width var(--transition-slow) .9s forwards linear;
}
.test-user img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    padding: 5px;
}
.test-content-img{
    opacity: 0;
    animation: fade-bottom var(--transition-slow) 2s forwards linear;
}
.test-pere{
    font-size: 1.3rem;
    line-height: 2rem;
    opacity: 0;
    animation: fade-bottom var(--transition-slow) 2.3s forwards linear;
}
.test-stars{
    opacity: 0;
    animation: fade-bottom var(--transition-slow) 2.4s forwards linear;
}
.test-stars i{
    color: #F2994A;
    font-size: 1.5rem;
    margin-left: 8px;
}
.test-user{
    opacity: 0;
    animation: fade-bottom var(--transition-slow) 2.5s forwards linear;
}
.test-user-info h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.test-user-info p{
    font-weight: 500;
}

/* Testimonial Animation */

@keyframes fade-right {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fade-width {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
        opacity: 1;
    }
}
@keyframes fade-bottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Testimonial MQ Section */

@media (max-width:991px) {
    .test-content{
        margin-top: 50px;
    }
}
@media (max-width:575px) {
    .test-content{
        padding: 0 5%;
    }
    .test-img:before{
        display: none;
    }
    .test-bg-img,
    .test-bg-img2{
        top: 20%;
    }
    .test-title h2{
        font-size: 2.5rem;
    }
    .test-bg-img{
        display: none;
    }
}

/* blog bannner */

.blog-banner {
    background-image: url(assets/banner.webp);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 60vh;
}

.blog-banner h2 {
    font-size: 3.5rem;
    width: 80%;
}

@media (max-width:575px) {
    .banner-title h2{
        width: 100%;
    }
}

/* blog section */

.detail {
    background-color: var(--white);
    color: var(--text-color);
    border-radius: 15px;
    padding: 20px 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    transform: translateY(20px);
    overflow: hidden;
}
.blog-card:hover .detail {
    transform: translateY(0);
}
.blog-card span {
    position: absolute;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    border-radius: 10px;
    top: 70%;
    left: 10%;
    color: var(--white);
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.blog-card:hover span{
    opacity: 1;  
}
.blog-card {
    position: relative;
    overflow: hidden;
    transition: all .4s;
}
.blog-card img {
    transition: var(--transition-slow);
}
.blog-card:hover img {
    transform: scale(1.1);
}
.blog-card:hover::after {
    opacity: 0.5;
}
.blog-card:hover .detail span {
    opacity: 1;
}
.detail h5 {
    position: relative;
    font-size: 1.2rem;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}
.detail h5::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: var(--white);
    transition: width 0.3s ease-in-out;
}
.blog-card:hover .detail h5::after {
    width: 100%;
}
.detail::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%);
    transition: var(--transition-slow);
    border-radius: 15px;
    z-index: -1;
    color: var(--white);

}
.blog-card:hover .detail::after{
    top: 0;
    color: var(--white);
}
.blog-card:hover .detail{
    color: var(--white);
}
.blog-page .blog-card:hover img{
    transform: scale(1) !important;
}


/* footer  */

.footer-head{
    background-color: var(--primary-dark);
    padding: 50px 10px ;
    color: var(--white);
}
.custom-input{
    border-radius: 50px;
}
.custom-input:focus {
    border-color: #007bff; /* Highlight border color on focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
}
.custom-input::placeholder{
    font-size: 1.2rem;
}
.footer-title h2{
    font-size: 2.5rem;
}
.social-icons i {
    font-size: 28px; 
    color: var(--btn-dark); 
    transition: color 0.3s, transform 0.3s;
}  
.icon-link {
    text-decoration: none;
}
.footer-links li {
    margin-bottom: 10px;
}  
.footer-links a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}
.footer-links a:hover {
    color: #007bff;
    transform: translateX(4px);  
}
/* footer bottom */
.footer-bottom p{
    font-size: 1.2rem;
}

@media (max-width:1199px) {
    .footer-title h2{
        font-size: 1.5rem !important;
    }
}
@media (max-width:991px) {
    .blog-title h2{
        font-size: 2rem !important;
    }    
}
@media (max-width:575px) {
    .footer-head{
        margin-right: 0 !important;
        margin-left: 0 !important;
        /* padding: 0 !important; */
    }
}


/* About Page Section */
.section-banner {
    width: 100%;
    background: url(assets/section-banner.webp) no-repeat;
    background-position: center;
    background-size: cover;
}
.section-banner-content {
    padding: 220px 0px 250px;
    position: relative;
}
.section-banner-content h2 {
    font-size: 4rem;
    font-weight: 900;
    font-family: var(--Urbanist-font);
    color: var(--white);
}
.section-banner-content ul {
    position: absolute;
    border: 5px solid #fff;
    border-bottom: 0;
    left: 0;
    bottom: 0;
    padding: 15px 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: var(--prim-grident);
    display: flex;
    margin: 0;
}
.section-banner-content ul li {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 600;
}
.section-banner-content ul li a{
    color: var(--white);
    text-decoration: none;
}

@media screen and (max-width:575px) {
    .section-banner-content h2 {
        font-size: 3rem;
    }
    .section-banner-content ul li {
        font-size: 1.1rem;
    }
}

.top-destination-item {
    margin: 0 auto;
    overflow: hidden;
    max-width: 390px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 11px 40px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 11px 40px 0px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.top-destination-image {
    transition: all 500ms ease;
    height: 398px;
    object-fit: cover;
    position: relative;
}
.top-destination-image::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, #4300e7 0%, #7d00fc 100%);
    opacity: 0;
    transition: var(--transition-regular);
}
.top-destination-item:hover .top-destination-image::after {
    opacity: .5;
}
.top-destination-image img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}
.dest-title-price {
    padding: 20px 14px 15px;
    border-bottom: 1px solid #eae8e8;
}
.trip-time {
    padding: 20px 30px 15px;
    font-size: 1.5rem;
    font-weight: 800;
}
.top-destination-icons {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: var(--transition-regular);
}
.top-destination-icons i:nth-child(1) {
    transform: translateY(10px);
    opacity: 0;
}
.top-destination-icons i:nth-child(2) {
    transform: translateY(-10px);
    opacity: 0;
}
.top-destination-item:hover .top-destination-icons i {
    opacity: 1;
}
.top-destination-item:hover .top-destination-icons i:nth-child(1) {
    transform: translateY(0);
}
.top-destination-item:hover .top-destination-icons i:nth-child(2) {
    transform: translateY(0);
}
.top-destination-icons i {
    background-color: var(--white);
    height: 70px;
    width: 70px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 9;
    position: relative;
    overflow: hidden;
    transition: var(--transition-regular);
    cursor: pointer;
}
.top-destination-icons i::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--prim-grident);
    width: 0%;
    height: 0%;
    z-index: -1;
    border-radius: 50%;
    transition: var(--transition-regular);
}
.top-destination-icons i:hover::after {
    width: 100%;
    height: 100%;
}
.top-destination-icons i:hover {
    color: var(--white);
}

@media screen and (max-width:1399px) {
    .section-title h2 {
        font-size: 3rem;
    }

    .section-title h3 {
        font-size: 2rem;
    }
}

/* travel-experience */

.travel-experience {
    background-image: url(assets/Experience-bg.webp);
    background-position: center center;
    background-size: cover;
    padding: 8% 0;
}
.travel-icon {
    min-width: 90px;
    min-height: 90px;
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.travel-info h4 {
    font-weight: 800;
}
.custome-btn2 {
    background-color: var(--pg-color) !important;
    color: var(--white);
    width: 200px !important;
    height: 60px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    border: none !important;
    overflow: hidden;
    padding: 0;
}
.custome-btn2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--prim-grident);
    border-radius: 30px;
    z-index: 0;
    transition: var(--transition-slow);
}
.custome-btn2 a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
}
.custome-btn2:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}
.top-destination-title .list-unstyled p{
    width: 100% !important;
}
.travel-experience-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--white);
    margin: 0 -10px;
}
.travel-experience-user span {
    background-color: var(--primary-color);
    border: 2px solid var(--white);
    color: var(--white);
    padding: 14px 10px;
    border-radius: 50%;
    margin-left: -10px;
}
.travel-experience-image::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.travel-experience-image span {
    z-index: 9;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .5px;
    background-color: #F1EBE6;
    color: var(--text-color) !important;
    border-radius: 3px;
}
.travel-experience-image{
    overflow: hidden;
    border-radius: 5px !important;
}
.travel-experience-image-mb{
    transform: translateY(30px);
}
.travel-places-title h2{
    font-size: 4rem;
}
.travel-places-image {
    position: relative;
    z-index: 0 !important;
}
.travel-places-image img {
    width: 100%;
    height: auto;
    border-radius: 200px;
    position: relative;
    z-index: 0 !important;
}
.travel-places-info h4 {
    font-weight: 700;
    font-size: 1.5rem;
}
.place-text {
    width: fit-content;
    position: relative;
    z-index: 9;
    background-color: #fff;
    transform: translateX(-50px);
}
.place-text img {
    object-fit: cover;
}
.place-text h6 {
    font-size: 1.3rem;
    font-weight: 800;
}
.travel-place-ul li i {
    color: var(--white);
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 50%;
}
.travel-place-ul li {
    font-size: 1.1rem;
    font-family: var(--Urbanist-font);
    font-weight: 800;
}

@media (max-width:1399px) {
    .travel-places-title h2{
        font-size: 3rem;
    }
}
@media (max-width:1199px) {
    .travel-places-info h4 {
        font-size: 1.3rem;
    }

    .place-text h6 {
        font-size: 1rem;
    }
}
@media (max-width:991px) {
    .place-text {
        transform: translateX(0);
    }
    .travel-places-image img {
        border-radius: 20px;
        height: 500px;
    }
}
@media (max-width:575px) {
    .travel-experience-image-mb{
        transform: translateY(0px);
    }
}

/* businesse-banner */

.businesse-banner {
    padding: 120px 0;
}
.ab-tst-item {
    background-color: var(--primary-color);
    padding: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    overflow: hidden !important;
    color: var(--white);
}
.swiper-3d .swiper-slide-shadow {
    background: #f1ebe4 !important;
    box-shadow: none !important;
}
.ab-tst-item img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.ab-tst-bottom h3 {
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px 30px 30px 0;
    margin-bottom: 10px;
}
.ab-tst-bottom span {
    background-color: var(--white);
    color: var(--text-color);
    font-size: .9rem;
    font-weight: 500;
    border-radius: 0 0 30px 30px;
    padding: 10px;
}
.ab-tst-bottom .ab-star i {
    color: rgb(255, 251, 0);
}
.ab-tst-swiper {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.price-card h2 {
    font-size: 3rem;
    font-weight: 700;
}
.price-card h2 sup {
    font-size: 1.5rem;
}
.price-card h2 small {
    font-size: 1.5rem;
    font-weight: 700;
}
.card-price-list li i {
    color: var(--primary-color);
}

@media (max-width:1199px) {
    .card-price-list li {
        font-size: 1rem !important;
    }
    .price-card p {
        font-size: .9rem !important;
    }
    .price-card h4 {
        font-size: 2rem !important;
    }
}

.travel-places-title p{
    width: 80% !important;
}

.gallery-grid{
    overflow: hidden;
}
.gallery-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--prim-grident);
    opacity: 0.8;
    transition: var(--transition-slow);
    cursor: pointer;
}
.gallery-image img {
    width: 100%;
    cursor: pointer;
}
.gallery-image:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

/* Footer Section */

footer {
    background: url(assets/footer-bg.webp) no-repeat center center/cover;
}
footer h2 {
    font-family: var(--Urbanist-font);
    font-size: 28px;
    font-weight: 800;
    color: var(--footer-color);
}
footer .fa-check {
    color: var(--white);
    background: var(--prim-grident);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}
footer p {
    color: var(--pg-color);
    font-size: 18px;
    font-weight: 800;
    font-family: var(--Urbanist-font);
    position: relative;
}
footer p:hover {
    color: var(--primary-color);
}
.footer-social i {
    color: var(--social-color);
}
.footer-social p {
    font-family: var(--Urbanist-font);
    font-size: 18px;
    font-weight: 800;
    color: var(--secondary-color);
    transition: var(--transition-regular);
}
.footer-icons i {
    color: var(--pg-color);
    transition: all 500ms ease;
    cursor: pointer;
    font-size: 18px;
    transform: scale(1.1);
}
.footer-icons i:hover {
    color: var(--social-color);
    transform: scale(1);
}
.img-wrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.img-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background: rgba(255, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
    border-radius: 30px;
    transition: var(--transition-slow);
}
.img-wrapper:hover::after {
    width: 100%;
    height: 100%;
}
.copyright small {
    color: var(--footer-color);
    font-family: var(--Urbanist-font);
    font-size: 18px;
    font-weight: 800;
}

/* Blog page Section */

.blog-card {
    border: 1px solid var(--border-color);
    border-radius: 12px;
}
.blog-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.blog-img span {
    color: var(--first-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--Urbanist-font);    
}
.blog-icon-text i {
    color: var(--primary-color);
}
.blog-icon-text span {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--pg-color);
    font-family: var(--Urbanist-font);
    font-weight: 500;
}
.blog-card-body h3 {
    color: var(--pg-color);
    font-weight: 800;
    font-size: 32px;
    font-family: var(--Urbanist-font);
    cursor: pointer;
    transition: var(--transition-slow);
}
.blog-card-body h3:hover {
    color: var(--primary-color);
}
.blog-card-body p {
    color: var(--pg-color);
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--Urbanist-font);
}
.blog-card-body a {
    text-transform: uppercase;
    font-family: var(--Urbanist-font);
    font-weight: 700;
    color: var(--second-color);
    font-size: 18px;
    display: flex;
    align-items: center;
} 
.blog-card-body a i {
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.details {
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    background: var(--blog-color);
}
.details h4 {
    color: var(--pg-color);
    font-size: 22px;
    font-family: var(--Urbanist-font);
    font-weight: 700;
    padding-bottom: 20px;
}
.input-group input {
    width: 100%;
    height: 62px;
    border: none;
    color: var(--input-color);
    font-size: 16px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: var(--white); 
}
.input-group .btn {
    top: 0;
    right: 0;
    color: var(--white);
    width: 62px;
    height: 62px;
    border: none;
    position: absolute;
    background: var(--prim-grident);
}
.categories-card {
    background-color: var(--blog-color);
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
}
.categories-card h5 {
    color: var(--pg-color);
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}
.list-group i {
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-color);
}
.list-group a {
    color: var(--second-color);
    font-size: 18px;
    font-family: var(--Urbanist-font);
    font-weight: 500;
}
.list-group span {
    background-color: var(--span-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
}
.recent-card h4 {
    color: var(--pg-color);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--Urbanist-font);
    padding-bottom: 20px;
}
.recent-card {
    padding: 25px;
    background-color: var(--blog-color);
    border-radius: 20px;
}
.recent-card img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 12px;
}
.recent-card small i {
    color: var(--primary-color);
}
.recent-card small {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 8px;
}
.recent-card p {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--pg-color);
    width: 90%;
}

/* CONTACT PAGE */

.contact-info {
    background: url(assets/contact-bg.webp) no-repeat center/ cover;
    border-radius: 15px;
    padding: 30px;
}
.contact-title h2{
    font-size: 3.5rem;
}
.info-icon i {
    color: var(--white);
    background: var(--prim-grident);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-text h5 {
    font-size: 22px;
    font-family: var(--Urbanist-font);
    margin-bottom: 0;
    line-height: 1.25;
    color: var(--white);
}
.info-text p {
    color: var(--white);
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Urbanist-font);
}
.contact-form {
    padding: 40px 40px;
    border-radius: 15px;
    background: var(--top-color);
    border: 1px solid var(--border-color);
}
.form-control {
    padding: 20px;
}
.form-control input {
    width: 100%;
    height: 58px;
    padding-left: 30px;
    border-radius: 100px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    outline: none;
}
.form-control:focus {
    border: 1px solid #dee2e6 !important;
    box-shadow: none !important;
}
.btn {
    color: var(--white);
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 100px;
    background-color: var(--primary-color);
    transition: all 500ms ease;
}
.btn:hover {
    background-color: var(--btn-dark);
    color: var(--white);
}
.contact-icons .fa-facebook-f {
    border: 1.5px solid var(--icon-prim-color);
    color: var(--icon-prim-color);
    transition: var(--transition-regular);
}
.contact-icons .fa-facebook-f:hover {
    background-color: var(--icon-prim-color);
    color: var(--white);
}
.contact-icons i {
    width: 25%;
    height: 80px;
    display: flex;
    font-size: 20px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--icon-sec-color);
    color: var(--icon-sec-color);
    font-weight: 500;
    transition: var(--transition-regular);
    cursor: pointer;
}
.contact-icons i:hover {
    background-color: var(--icon-sec-color);
    color: var(--white);
}

/* Tours Page Section */

.tour-cate-col button{
    width: 150px !important;
    height: 45px ;
}
.tour-cate-wrap-sticky{
    position: sticky;
    top: 90px;
    left: 0;
    height: 100%;
}
.tour-cate-box-wrap{
    background-color: #F7F7F7;
    padding: 10px;
    cursor: pointer;
}
.tour-cate-box h2{
    font-size: 1.4rem;
    font-weight: 600;
}
.tour-cate-option span{
    background-color: #EFEFEF;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: var(--pg-color);
}
.tours-grid-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgba(131, 131, 131, 0.6);
    color: #000000a7;
    font-size: 1.5rem;
}
.tour-card{
    position: relative;
    background-color: #F7F7F7;
    cursor: pointer;
}
.tour-card-img {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.tour-card-img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.tour-card-img:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to top, #4d00eb 5%, #193549 100%);;
    opacity: 0.7;
    transition: var(--transition-regular);
}
.tour-card:hover .tour-card-img:after{
    height: 100%;
}
.tour-card span{
    position:absolute;
    bottom: 28% !important;
    left: 5%;
    padding: 6px 20px;
    border-radius: 50px;
    background-image: var(--prim-grident);
    color: var(--white);
    z-index: 1;
}
.tour-card-content h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.tour-card-content h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tour-card-box p{
    font-size: 1rem;
    font-weight: 600;
}
.tour-card-box a{
    padding: 5px 15px;
    background-image: var(--prim-grident);
    border-radius: 50px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1199px) {
    .tour-card-content h2{
        font-size: 1.1rem;
    }
}   
@media (max-width:991px) {
    .tour-cate-wrap-sticky{
        position: static;
    }
    .tour-card-img{
        height: 400px;
    }
    .tours-wrapper .row{
        flex-direction: column-reverse;
    }
}   
@media (max-width:575px) {
    body{
        overflow-x: hidden;
    }
    .gallery-image img{
        width: 100%;
        height: 100%;
    }
}


.book-qount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7 ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 150px;
    border-radius: 5px;
}
.book-qount input{
    border: none !important;
    outline: none !important; 
    font-size: 1.3rem;
    height: 100%;
}
.open-bbok-btn{
    width: 250px;
    background-color: var(--primary-color);
    font-weight: 600;
}
.book-qount input:active,
.book-qount input:focus{
    border: none !important;
}
@media (max-width:991px) {
    .book-modal-wrap{
        flex-direction: column-reverse;
    }
}
/* ==g================================================ DESTINATION PAGE ============================================ */

.destination-top {
    height: 450px;
}
.destination-images img,
.destination-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.destination-images {
    overflow: hidden;
}
.destination-images .destination-details-wrap {
    flex: 1;
    overflow: hidden;
    border-radius: 8px;
}
.btn-destination {
    background-color: var(--white);
    color: var(--text-color);
}
.btn-destination {
    width: 130px !important;
    height: 35px;
    font-size: .9rem !important;
    padding: 0 !important;
    font-weight: 600;
}
.btn-destination:hover {
    background-color: var(--primary-color);
}
.destination-details-icon {
    background-color: #F1F1F1;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    color: var(--primary-color);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    padding: 50px;
    border-radius: 30px;
}
.form-section {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.destination-details-form label {
    font-weight: 700;
    font-size: 1.1rem;
}

.form-control,
.form-select {
    height: 62px !important;
    border: none !important;
    padding-left: 25px !important;
    margin-bottom: 0 !important;
    border-radius: 200px !important;
    background-color: #F7F7F7 !important;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #dee2e6 !important;
}
textarea.form-control {
    height: 200px !important;
    border-radius: 15px !important;
}
.btn-purple {
    background-color: #5f00ff;
    color: #fff;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-purple:hover {
    background-color: #4b00cc;
}
@media screen and (max-width:991px) {
    .destination-top {
        height: auto;
    }

    .destination-images {
        height: 150px !important;
        flex-direction: row !important;
    }

    .destination-images .destination-details-wrap {
        width: 100%;
    }

    .destination-images .destination-details-wrap img {
        height: 100%;
    }

    .destination-main-image {
        height: 550px !important;
    }
}